<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="portfolio-details" class="portfolio-details">
                    <div class="container">
                    <div class="row">                       
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="portfolio-details-slider swiper">
                                    <div id="project_images" class="swiper-wrapper align-items-center">
                                        <!-- Images go here -->
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="portfolio-description">
                                <h2>Description</h2>
                                <p id="project-description">
                                    <!-- Description content goes here -->
                                </p>
                            </div>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="portfolio-info">
                                    <h3>About project</h3>
                                    <ul>
                                        <li>
                                            <strong>Category :</strong>
                                            <i id="project-category">
                                                <!-- Category content goes here -->
                                            </i>
                                        </li>
                                        <li>
                                            <strong>Technologies :</strong>
                                            <i id="project-technologies">
                                                <!-- Technologies content goes here -->
                                            </i>
                                        </li>
                                        <li>
                                            <strong>Project URL</strong>: <a id="project-github" href=""></a>
                                        </li>
                                        <li>
                                            <strong>Project Demo</strong>: <a id="project-demo" href=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
