{% load static %}
<!-- ======= Portfolio Section ======= --> 
<div class="container" data-aos="fade-up">
    <div class="section-title">
        <h2>Projects</h2>
    </div>

    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">  
            <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                {% for category in categories %}
                    <li data-filter=".filter-{{ category.title|lower }}">{{ category.title }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for project in projects %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{ project.category.title|lower }}">
                <div class="portfolio-wrap">
                    {% if project.images.exists %}
                        <img src=".{{ project.images.first.image.url }}" class="img-fluid" alt="">
                    {% endif %}
                    <div class="portfolio-info">
                        <h4>{{ project.title }}</h4>
                        <p>{{ project.category.title }}</p>

                        <div class="portfolio-links">

                            <a href="#  " class="project-details-lightbox"  
                                title="Portfolio Details"
                              data-project-id="{{ project.id }}" 
                              data-bs-toggle="modal"
                                data-bs-target="#projectModal"
                            ><i class="bx bx-link"  ></i></a>

                            {% if project.github_url %}
                                <a href="{{ project.github_url }}" title="Github"><i class="bx bxl-github"></i></a>
                            {% endif %}
                            {% if project.demo_url %}
                                <a href="{{ project.demo_url }}" title="Demo"><i class="bx bx-link-external"></i></a>
                            {% endif %}
                          </div>                          
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- ======= end Portfolio Section ======= --> 
<script>
    $(document).ready(function(){
        $('.project-details-lightbox').click(function(){
            var pk = $(this).data('project-id');
            $.ajax({
                type: "GET",
                url: "Profile/Details/" + pk + "/",
                dataType: "json",
                success: function(data){
                    if (data){
                        var projectdata = data.project;
                        var swiperWrapper = $('.swiper-wrapper');
    
                        swiperWrapper.empty(); // Clear previous images
    
                        for (var i = 0; i < data.project_images.length; i++){
                            swiperWrapper.append(
                                '<div class="swiper-slide"><img src=".'+data.project_images[i]+'" class="img-fluid" alt=""></div>'
                            );
                        }
                        $('.modal-title').html(data.project.title);

                        $('#project-category').html(data.project.category);
                        $('#project-technologies').html(data.project.technologies);
                        $('#project-github').attr('href', data.project.github_url);
                        $('#project-demo').attr('href',data.project.demo_url);
                        $('#project-github').html(data.project.github_url);
                        $('#project-demo').html(data.project.demo_url);

                        $('#project-description').html(data.project.description);
                        
                        $('#projectModal').modal('show');
                }//end success
                
            }
        });
        });
    });
</script>


