{% if user and profile %}
    
    <div class="container">
      <h4>{{user.first_name}} {{user.last_name}}</h4>
      <p>Success is not final, failure is not fatal: It is the courage to continue that counts.</p>
      <div class="social-links">
        <a href="{{user.sociallinks.twitter}}" class="twitter" target="_blank" ><i class="bx bxl-twitter"></i></a>
        <a href="{{user.sociallinks.facebook}}" class="facebook" target="_blank" ><i class="bx bxl-facebook"></i></a>
        <a href="{{user.sociallinks.instagram}}" class="instagram" target="_blank" ><i class="bx bxl-instagram"></i></a>
        <a href="{{user.sociallinks.github}}" class="google-plus" target="_blank" ><i class="bx bxl-github"></i></a>
        <a href="{{user.sociallinks.linkedin}}" class="linkedin" target="_blank" ><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MyPortfolio</span></strong>. All Rights Reserved
      </div>
    </div>

    <!-- Content when either user or profile is missing -->
{% endif %}
