{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{title}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include 'stylesheet&scripts/stylesheet.html' %}
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">
    {% include 'Base/navbar.html' %}
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <p>I'm <span class="typed" data-typed-items="{% for item in typedItem %}{{ item.title }}{% if not forloop.last %}, {% endif %}{% endfor %}"></span></p>   
      <div class="social-links">
        {% if user %}
        <a href="{{user.sociallinks.twitter}}" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="{{user.sociallinks.facebook}}" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="{{user.sociallinks.instagram}}" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="{{user.sociallinks.linkedin}}" class="google-plus"><i class="bx bxl-linkedin"></i></a>
        <a href="{{user.sociallinks.github}}" class="linkedin"><i class="bx bxl-github"></i></a>
        {% endif %}
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      {% include 'includes/about.html' %}
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      {% include 'includes/facts.html' %}
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      {% include 'includes/skills.html' %}
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>{{user.first_name}} {{user.last_name}}</h4>
              <p><em>{{about.sumary}}</em></p>
            </div>

            <h3 class="resume-title">Education</h3>
          {% for edu in education %}
            <div class="resume-item">
            <h4>{{ edu.degree }}</h4>
            <h5>{{ edu.start_date|date:"Y" }} - {{ edu.end_date|date:"Y" }}</h5>
            <p><em>{{ edu.location }}</em></p>
            <p><em>{{ edu.institution }}</em></p>
            <p>{{ edu.description }}</p>
            </div>
          {% endfor %}
        
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            {% for profexp in ProfessionalExperience %}

              <div class="resume-item">
                <h4>{{profexp.title}}</h4>
                <h5>{{profexp.start_date}}-{{profexp.end_date}}</h5>
                <p><em>{{profexp.company}} - {{profexp.location}}</em></p>
                <ul>
                  <li>{{profexp.description}}</li>
                </ul>
              </div>

            {% endfor %}
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
   {% include 'Base/footer.html' %}
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% include 'stylesheet&scripts/scripts.html' %}
</body>

</html>